[submodule "Mod.Anolytics"]
	path = Mod.Anolytics
	url = https://github.com/Distance-Modding/Mod.Anolytics.git
[submodule "Mod.DecorativeLamp"]
	path = Mod.DecorativeLamp
	url = https://github.com/Distance-Modding/Mod.DecorativeLamp.git
[submodule "Mod.EditorAdditions"]
	path = Mod.EditorAdditions
	url = https://github.com/Distance-Modding/Mod.EditorAdditions.git
[submodule "Mod.CustomWheelHologram"]
	path = Mod.CustomWheelHologram
	url = https://github.com/Distance-Modding/Mod.CustomWheelHologram.git
[submodule "Mod.ChristmasSeasonalFeatures"]
	path = Mod.ChristmasSeasonalFeatures
	url = https://github.com/Distance-Modding/Mod.ChristmasSeasonalFeatures.git
[submodule "Mod.CustomCar"]
	path = Mod.CustomCar
	url = https://github.com/Distance-Modding/Mod.CustomCar.git
[submodule "Mod.SceneDumper"]
	path = Mod.SceneDumper
	url = https://github.com/Distance-Modding/Mod.SceneDumper
[submodule "Mod.NoServerLimit"]
	path = Mod.NoServerLimit
	url = https://github.com/Distance-Modding/Mod.NoServerLimit
[submodule "Mod.TrackMusic"]
	path = Mod.TrackMusic
	url = https://github.com/Distance-Modding/Mod.TrackMusic
[submodule "Mod.NitronicHUD"]
	path = Mod.NitronicHUD
	url = https://github.com/Distance-Modding/Mod.NitronicHUD
[submodule "Mod.TextureModifier"]
	path = Mod.TextureModifier
	url = https://github.com/Distance-Modding/Mod.TextureModifier
[submodule "Mod.NoEditorNumberLimits"]
	path = Mod.NoEditorNumberLimits
	url = https://github.com/Distance-Modding/Mod.NoEditorNumberLimits
[submodule "Mod.HalloweenSeasonalFeatures"]
	path = Mod.HalloweenSeasonalFeatures
	url = https://github.com/Distance-Modding/Mod.HalloweenSeasonalFeatures.git
[submodule "Mod.OverheatMeter"]
	path = Mod.OverheatMeter
	url = https://github.com/Distance-Modding/Mod.OverheatMeter.git
