[submodule "Mod.Anolytics"]
	path = Mod.Anolytics
	url = https://github.com/Distance-Modding/Mod.Anolytics
[submodule "Mod.DecorativeLamp"]
	path = Mod.DecorativeLamp
	url = https://github.com/Distance-Modding/Mod.DecorativeLamp
[submodule "Mod.EditorAdditions"]
	path = Mod.EditorAdditions
	url = https://github.com/Distance-Modding/Mod.EditorAdditions
[submodule "Mod.CustomWheelHologram"]
	path = Mod.CustomWheelHologram
	url = https://github.com/Distance-Modding/Mod.CustomWheelHologram
[submodule "Mod.ChristmasSeasonalFeatures"]
	path = Mod.ChristmasSeasonalFeatures
	url = https://github.com/Distance-Modding/Mod.ChristmasSeasonalFeatures
[submodule "Mod.CustomCar"]
	path = Mod.CustomCar
	url = https://github.com/Distance-Modding/Mod.CustomCar
[submodule "Mod.SceneDumper"]
	path = Mod.SceneDumper
	url = https://github.com/Distance-Modding/Mod.SceneDumper
[submodule "Mod.NoServerLimit"]
	path = Mod.NoServerLimit
	url = https://github.com/Distance-Modding/Mod.NoServerLimit
[submodule "Mod.TrackMusic"]
	path = Mod.TrackMusic
	url = https://github.com/Distance-Modding/Mod.TrackMusic
[submodule "Mod.NitronicHUD"]
	path = Mod.NitronicHUD
	url = https://github.com/Distance-Modding/Mod.NitronicHUD
[submodule "Mod.TextureModifier"]
	path = Mod.TextureModifier
	url = https://github.com/Distance-Modding/Mod.TextureModifier
[submodule "Mod.NoEditorNumberLimits"]
	path = Mod.NoEditorNumberLimits
	url = https://github.com/Distance-Modding/Mod.NoEditorNumberLimits
[submodule "Mod.HalloweenSeasonalFeatures"]
	path = Mod.HalloweenSeasonalFeatures
	url = https://github.com/Distance-Modding/Mod.HalloweenSeasonalFeatures
[submodule "Mod.OverheatMeter"]
	path = Mod.OverheatMeter
	url = https://github.com/Distance-Modding/Mod.OverheatMeter
[submodule "Mod.MenuUtilities"]
	path = Mod.MenuUtilities
	url = https://github.com/Distance-Modding/Mod.MenuUtilities
[submodule "Mod.UnityExplorer"]
	path = Mod.UnityExplorer
	url = https://github.com/Distance-Modding/Mod.UnityExplorer
[submodule "Mod.WheelieBoostFix"]
	path = Mod.WheelieBoostFix
	url = https://github.com/Distance-Modding/Mod.WheelieBoostFix
[submodule "Mod.AdventureMaker"]
	path = Mod.AdventureMaker
	url = https://github.com/Distance-Modding/Mod.AdventureMaker
